<body>
  <img src="/assets/enoshima.PNG" class="logo_image">    
    <div class="index">
            <div class="top_items">
                <ul>
                    <li><a class="top_item" href="/voices">一覧確認</a></li>
                    <li><a class="top_item" href="/voices/new">新規投稿</a></li>
                </ul>
            </div>
    </div>
    <p>
</body>
